.container{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:auto;
  flex-direction: column;     
}

.banner{
    background-color: black;
    height: 70px;
    width: 100%;
    color: white;
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  .playistContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
  }